html {
	height: 100%;
	width: 100%;
	font-family: "Outfit", sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.primer{
    width: auto;
    height: 400px;
    margin-left: 30%;
}

.logo{
	width: auto;
	height: 40px;
	margin-bottom: 20px;
	margin-left: 20px;
}

h1, .logo{
	display: inline-block;
}

img{
    width: 100%;
    border-radius: 10px;
}

#contenido{
	font-family: "Outfit", sans-serif;
    float: left;
    min-height: 500px;
    padding: 40px;
    margin-left: 100px;
    margin-right: 120px;
}

#contenido1{
	font-family: "Outfit", sans-serif;
    min-height: 700px;
    padding: 40px;
    margin-left: 100px;
    margin-right: 120px;
}

#contenido2{
	font-family: "Outfit", sans-serif;
    min-height: 700px;
    padding: 40px;
    margin-left: 100px;
    margin-right: 120px;
}

.article{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.navbar {
	background-color: #000000;
}

.navbar a, .navbar .navbar-brand {
	color: white;
}

.navbar a:hover, .navbar .navbar-brand:hover {
	color: #d3d3d3;
}

.dropdown-menu a:hover {
	background-color: #575757;
}

.content {
	padding: 20px;
}

.custom-btn {
	background-color: #007bff;
	color: white;
}

.custom-btn:hover {
	background-color: #0056b3;
}

.navbar a, .navbar .navbar-brand {
	color: white;
}

.navbar a:hover, .navbar .navbar-brand:hover {
	color: #d3d3d3;
}

.dropdown-menu a:hover {
	background-color: #575757;
}

.content {
	padding: 20px;
}

.custom-btn {
	background-color: #007bff;
	color: white;
}

.custom-btn:hover {
	background-color: #0056b3;
}

.navbar-brand img {
	height: 80px; /* Ajusta el tamaño según sea necesario */
}